*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    border: 8px solid black;
    border-radius: 20px;
    background-color: lightgray;
    padding: 8px;
    box-shadow: 3px 3px 30px;
}

.text-div{
   flex: 1 1 20%;
   padding: 10px;
}
.text-div>input{
    height: 100%;
    width: 100%;
    text-align: right;
    font-size: 70px;
    border-radius: 20px;
}

.button-div{
    display: flex;
    flex: 1 1 80%;
}
.numpad{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 75%;
    gap: 10px;
    padding: 10px;
}
.operators{
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    padding: 10px;
    gap: 10px;
}
.numpad>button{
    flex: 1 1 30%;
}
#zero{
    flex-basis: 65%;
}
#point{
    flex-basis: 31%;
}
#ac, #back{
    background-color: lightcoral;
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px black;
}

.operators>button{
    flex: auto;
}
.numpad>button, .operators>button{
    font-size: 2.5em;
    font-weight: 550;
    border-radius: 18px;
}